WEBFLOW_TOKEN=token #cms read & write permissions
WEBFLOW_COLLECTION_ID=collection-id
UPLOADTHING_TOKEN=token
IMAGE_FIELD_NAMES=image-field-1,image-field-2

#for test.ts
TEST_LIMIT=1
SIMULATE_DOWNLOAD=true

#Compression config
COMPRESSION_TARGET_RATIO=0.5
COMPRESSION_QUALITY=60
COMPRESSION_MIN_QUALITY=55
COMPRESSION_MIN_SSIM=0.98,
COMPRESSION_MAX_DIMENSION=650,